.container{
    /* background-color: rgb(68, 210, 25); */
    width: 100%;
    height: 20cm;
    margin-top: 10%;
    left:10%;
}
.container .imageforaboutme{
    margin-top: 1cm;
    margin-left: 11cm;
    width: 18cm;
    height: 12cm;
    /* background-color: color-mix(in srgb, rgb(60, 215, 60) 100%, rgb(10, 144, 8) 100%); */
    background-image: linear-gradient(green, yellow);
    /* overflow: hidden; */
    border-radius: 1cm;
    box-shadow: 0 1px 10px 10px green;
}
.aboutME{
    padding-top: 1cm;
    margin-top: 1cm;
    margin-left: 17cm;
    font-size: 0.7cm;
}
.imageforaboutme .img1{
    margin-left: 3cm;
    width: 10cm;
    margin-left: 4cm;
}
.aboutmetext{
    font-size: larger;
    position: relative;
    top: -1cm;
}
.aboutmetext1{
    font-size: larger;
    position: relative;
    left: 3cm;
    top: -1cm;
}
.aboutmetext2{
    font-size: larger;
    position: relative;
    left: -1.2cm;
}

