.containerforcontactMe{
    margin-top: 29.5cm;
    background-image: linear-gradient(black,rgb(33, 28, 28),rgb(28, 127, 28));
    width: 40.2cm;
    height: 19cm;
}
.contactMeTitle{
    position: relative;
    top: 1cm;
    font-size: 1.5cm;
}
.SubBoxContactForm{
    border-radius: 1cm;
    background-color: rgb(16, 238, 131);
    width: 18cm;
    height: 15cm;
    position: relative;
    top: 1.2cm;
    left: 11cm;
    border-color: aqua;
    border-width: 1cm;
    box-shadow: 0cm 1cm 100cm rgb(4, 243, 4);
}
.nametext{  
    position: relative;
    top: 1cm;
    left: 1cm;
}
#name1{
    position: relative;
    top: 1cm;
    width: 15cm;
    height: 1.2cm;
    left: 1cm;
    padding-left: 30px;
    border-radius: 1cm;
    background: none;
    font-size: 0.7cm;
    box-sizing: 1cm;
    background-color: rgba(132, 255, 0, 0.526);
}

#name1:hover{
    background-color: rgb(0, 255, 179);
}

.emailtext{
    position: relative;
    top: 2cm;
    left: 1cm;
}
#email{
    position: relative;
    top: 2cm;
    height: 1cm;
    font-size: 0.7cm;  
    width: 15cm;
    left: 1cm;
    padding-left: 30px;
    border-radius: 1cm;
    background: none;
    background-color: rgba(132, 255, 0, 0.526);
}
#email:hover{
    background-color: rgb(0, 255, 179);
}
.phtext{
    position: relative;
    top: 3cm;
    left: 1cm;
}
#phoneNo{
    position: relative;
    top: 3cm;
    left: 1cm;
    height: 1cm;
    font-size: 0.7cm;
    padding-left: 30px;
    width: 15cm;
    border-radius: 1cm;
    background: none;
    background-color: rgba(132, 255, 0, 0.526);
}
#phoneNo:hover{
    background-color: rgb(0, 255, 179);
}
.messagetext{
    position: relative;
    top: 4cm;
    left: 1cm;
    font-size: 0.8cm;
}
#message{
    position: relative;
    top: 4cm;
    left: 1cm;
    font-size: 0.8cm;
    width: 15cm;
    padding-left: 30px;
    height: 2cm;
    border-radius: 1cm;
    background: none;
    background-color: rgba(132, 255, 0, 0.526);
}
#message:hover{
    background-color: rgb(0, 255, 179);
}
.btn{
    position: relative;
    top: 4.5cm;
    width: 8cm;
    height: 1.3cm;
    cursor: pointer;
    font-size: 1cm;
    border-radius: 1cm;
    box-shadow: 0 0.1cm 2cm;
    transition: 0.5s;
    background-image: linear-gradient(green, yellow);
}
.btn:hover{
    background-image: linear-gradient(yellow,green);
    transition: 0.5s ease;
    box-shadow: 0 0.1cm 3cm greenyellow;
}
.tick{
    position: relative;
    top: 6.2cm;
    left: -2cm;
    width: 2cm;
    height: 2cm;
    visibility: hidden;
}