#homepage{
    padding-top: 4CM;
    margin-left: 1cm;
}
#homepage .TheDeveloper{
    font-size: 2cm;
    font-weight: 1000;
}
#homepage .paragrap{
    /* position: absolute; */
    padding-top: 0.2cm;
    font-size: 0.6cm;
}
.dowlodeCV{
    margin-top: 0.5cm;
    top: 11.5cm;
    width: 15cm;
    left: 1.4cm;
    height: 1cm;
    border: none;
    border-radius: 0.3cm;
    /* background-color: rgb(78, 232, 78); */
    background-image: linear-gradient(green, rgb(68, 202, 68));
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.7cm;
    color: black;
}
.dowlodeCV:hover{
    /* background-color: rgb(29, 173, 29); */
    background-image: linear-gradient(green, rgb(117, 188, 60));
    color: aliceblue;
}
.mail{
    margin-top: 0.1cm;
    width: 2cm;
    height: 2cm;
    transition: 0.1s ease-in;
    /* box-shadow: 0.1cm 3.7cm  2cm green;    */
   
}
.mail:hover{
    width: 2.3cm;
    height: 2.3cm;
    /* box-shadow: 0.1cm 3.7cm  2cm green; */
}
.linkdin{
    /* left: cm; */
    position: relative;
    width: 2cm;
    margin-top: 0.4cm;
    height: 1.8cm;
    top: -0.1cm;
    margin-left: 1cm;
    cursor: pointer;
    transition: 0.1s ease-in;
}
.linkdin:hover{
    width: 2.1cm;
    height: 2.1cm;
    transition: 0.1s ease-in;
    /* box-shadow: 0.1cm 3.7cm  2cm green; */
}
.hackrank{
    left: -0.4cm;
    position: relative;
    width: 2.6cm;
    top: 0.3cm;
    margin-top: 0.4cm;
    height: 2.5cm;
    margin-left: 1cm;
    cursor: pointer;
    transition: 0.1s ease-in;
}
.hackrank:hover{
    width: 3cm;
    height: 3cm;
    /* box-shadow: 0.1cm 3.7cm  2cm green; */
}
.imageofsocialmedial{
    margin-top: 0.5cm;
    margin-left: 3cm;
    cursor: pointer;
}

/* -------------------------------------- */
.myImage{
    position: absolute;
    width: 15cm;
    height: 16cm;
    /* background-color: green; */
    background-image: linear-gradient(green, yellow);
    top: 3cm;
    left: 23cm;
    border: none;
    overflow: hidden;
    border-radius: 150cm;
}
.myImage2{
    position: absolute;
    top: 1.3cm;
    left: 1.8cm;
    width: 11.8cm;
    rotate: -10deg ;
  
}