*{
    margin: 0%;
    padding: 0%;
    user-select: none;
}
body{
    background-color: rgba(145, 247, 166, 0.595);
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    height: 100%;
}

.hellow{
    position: absolute;
    top: 69.1cm;
}
.test{
    position: sticky;
    width: 40.2cm;
    height: 5cm;
}

#name{
    position: absolute;
    font-size: 1cm;
    top: 0.7cm;
    left: 1cm;
    font-family:'Times New Roman', Times, serif;
}
#toplists{
    position: absolute;
    font-size: 0.8cm;
    top: 0.9cm;
    left: 80vh;
}
#home{
    color:rgb(12, 141, 25);
    cursor: pointer;
    font-size: 0.6cm;
    transition: 0.1s ease-in;
}
#home:hover{
    font-size: 0.8cm;
}
#name::first-letter{
    color: green;
}
#about{
    position: absolute;
    font-size: 0.6cm;
    top: -0.01cm;
    left: 15vh;
    cursor: pointer;
    transition: 0.1s ease-in;
}
#about:hover{
    font-size: 0.8cm;
}
#skills{
    position: absolute;
    font-size: 0.6cm;
    top: -0.01cm;
    left: 30vh;
    cursor: pointer;
    transition: 0.1s ease-in;
}
#skills:hover{
    font-size: 0.8cm;
}
#projects{
    position: absolute;
    font-size: 0.6cm;
    top: -0.01cm;
    left: 45vh;
    cursor: pointer;
    transition: 0.1s ease-in;
}
#projects:hover{
    font-size: 0.8cm;
}
nav:hover{
    width: 100%;
    background-color: rgba(24, 182, 10, 0.562);
}
nav{
    height: 2.3cm;
    max-width: 100%;
}
#contact{
    position: absolute;
    font-size: 0.6cm;
    border: none;
    width: 4cm;
    height: 1cm;
    border-radius: 0.3cm;
    top: -0.09cm;
    left: 100vh;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(78, 232, 78);
}
#contact:hover{
    background-color: green;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

